/* ****************
   colors variables
   ****************
*/
// ***********
// dark colors
// ***********
$dark: #160040;
// ************
// light colors
// ************
$lighte: #FAFAFA;
// ************
// multi colors
// ************
$m1: #A12568;
$yellow: #FEC260;
$m3: #4FD3C4;
